
<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <br>
<div class="d-flex justify-content-around">
    
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-success text-light">
          All Deparments
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Fresh Meat</li>
          <li class="list-group-item">Vegetables</li>
          <li class="list-group-item">Fruit & Nut Gifts</li>
          <li class="list-group-item">Fresh Berries</li>
          <li class="list-group-item">Ocean Foods</li>
          <li class="list-group-item">Butter & Eggs</li>
          <li class="list-group-item">Fresh Onion</li>
          <li class="list-group-item">Oatmeal</li>
          <li class="list-group-item">Fruit Bananas</li>
        </ul>
      </div>
    <div class="d-flex">
        <div class="m-2 p-2" style="background-image: url('https://ivankitanovski.github.io/exam/banner.jpg'); background-size:100% 100%;">
            <p class="text-success">FRUIT FRESH</p>
            <h1>Vegetable 100% Organic</h1>
            <p>Free Pickup and Delivery Available</p>
            <button class="btn btn-success">SHOP NOW</button>
        </div>
    </div>

</div>
<br>
<br>
<div class="d-flex justify-content-center p-2">
    <h2>From The Blog</h2>
</div>

<div class="d-flex justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://ivankitanovski.github.io/exam/blog-1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://ivankitanovski.github.io/exam/blog-2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://ivankitanovski.github.io/exam/blog-3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
</body>
</html> 